/* Where all fonts are resting. Use Google Fonts as much as possible. */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Where all the CSS are resting. */

body {
    background-color: #3A0CA3!important;
}

.container {
    padding: 5% !important;
    background-color: #4CC9F0;
    margin: 7%;
    border-radius: 35px;
}

.btn {
    transition: all .7s !important;
}

.btn-hover:hover {
    transition: all .5s !important;
    color: #7209B7 !important;
    background-color: #e0d9d9 !important;
    border-color: #7209B7 !important;
}

.navbar {
    padding-left: 2% !important;
}
